.head {
  display: flex;
  /* justify-items: baseline; */
  align-items: center;
  justify-content: space-around;
  margin-left: 0.5rem;
  /* background-color: black; */
}

.companyname {
  margin-left: 0.7rem;

  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  /* color: rgb(252, 252, 252) ; */
  /* font-weight: bolder; */
  font: 100;
}
.marginadd{
  margin-top: 3rem;
  /* display: flex; */
}

/* .main{
  max-width: fit-content;;
} */

.headerlog{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  /* float: left; */
}